{% extends 'anasayfa/header/header.html' %}
{% block header %}
<header class="masthead text-center text-white d-flex" style="position: absolute;top: 50%;left:50%;transform: translate(-50%,-50%);">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
         <h1 class="text-uppercase">
          <strong>ppc reklamlar ve yüksek pay, Gerçek kazancını bilerek çalış.</strong>
         </h1>
         <hr>
       </div>
       <div class="col-lg-14 mx-auto">
        <p class="text-faded mb-5">Birden fazla url ekleyin ve reklam tıklanmalarınızı canlı olarak takip edin.</p>
        <a class="btn btn-xl btn-primary" href="/hakkimizda/">Daha Fazla Öğren</a>
      </div>
    </div>
  </div>
</header>
{% endblock %}